header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    padding: 8px 0;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
}

/* #nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
} */

.nav__right {
    gap: 28px;
}

.nav__list {
    gap: 50px;
}

.nav__link {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    transition: 0.4s;
}

.nav__link:hover {
    color: var(--primary-color);
}

.nav__info__links {
    gap: 24px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
}

.nav__info__link {
    padding: 4px 10px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 5px;
    transition: 0.3s;
}

.nav__info__link:hover {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0px 0px 2px var(--primary-color);
}

.menu {
    display: none;
    background-color: transparent;
    border: none;
}

.nav-responsive {
    display: none;
}