
main {
    padding-top: 24px;
    padding-bottom: 111px;
}


.info-card {
    max-width: 496px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    background: #FFF;
}

.info-card__top {
    text-align: center;
}

.card__top__logo {
    margin-bottom: 24px;
}

.card__top__title {
    margin-bottom: 16px;
    font-size: 29px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
}

.card__top__accounts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 56px;
}

.accounts__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #444150;
}

.accounts__link {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: #01BAB3;
}

.names {
    margin-bottom: 24px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding-left: 7px;
    width: 200px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FBFBFB;
}

input[type="email"] {
    padding-left: 7px;
    width: 200px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FBFBFB;
}

input[type="tel"] {
    padding-left: 7px;
    width: 200px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FBFBFB;
}

input[type="password"] {
    padding-left: 7px;
    width: 200px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FBFBFB;
}

input[type="date"] {
    padding: 10px 150px;
    margin-bottom: 24px;
}

input[type="radio"] {
    padding: 12px;
}

#country {
    padding-left: 7px;
    width: 200px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FBFBFB;
}

.star {
    color: var(--primary-color);
}

.genders {
    margin-bottom: 24px;
}

.gender {
    display: inline-block;
}

.gender__text {
    margin-bottom: 10px;
}

#email {
    width: 100%;
    margin-bottom: 24px;
}

#promo {
    width: 100%;
    margin-bottom: 24px;
}

#tel {
    width: 100%;
    margin-bottom: 24px;
}

#password {
    width: 100%;
    margin-bottom: 24px;
}

.form__btn {
    padding: 12px 170px;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    border-radius: 4px;
    border: none;
    background: var(--primary-color);
}

.p2 {
    margin-bottom: 87px;
}