* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding-top: 56px;
}

a {
    color: inherit;
}

button {
    cursor: pointer;
}

.container {
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 1366px) {
    .container {
        width: 1170px;
    }
}