@media (max-width: 810px) {
    .nav__list {
        display: none;
    }

    #navbar-open {
        display: flex;
    }
}

@media (max-width: 600px) {
    .info-card__bottom form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .names {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: ce;
    }

    #date {
        padding: 8px 40px;
        margin-bottom: 24px;
    }

    .form__btn {
        display: none;
    }
}

@media (max-width: 520px) {
    .nav__info__links {
        display: none;
    }
}


@media (max-width: 520px) {
    .info-card__bottom form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

