@import url(./fonts.css);
@import url(./variables.css);
@import url(./reset.css);
@import url(./classes.css);
@import url(./responsive.css);
@import url(./header.css);
@import url(./personal.css);
@import url(./regsiter.css);
@import url(./login.css);